body {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 38px;
  color: white;
  font-weight: bold;
  margin-left: auto;
}

h2 {
  font-weight: bolder;
  font-size: 36px;
  margin-bottom: 5%;
}

form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin: auto;
}

section {
  height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
}

.number {
  display: flex;
  flex-direction: column;
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

input,
select {
  padding: 15px;
  border: none;
}

input:focus,
select:focus {
  outline: none;
}

.input {
  cursor: pointer;
  border: 1px solid;
  margin-top: 4%;
}

.switch {
  width: 10%;
  padding: 1.5%;
  border: none;
  border-radius: 50px;
  color: white;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  cursor: pointer;
}

.switch > img {
  width: 40px;
}

label {
  font-weight: bold;
}

[type="submit"] {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 3%;
  border: none;
  padding: 2%;
  border-radius: 50px;
  color: white;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.header > img {
  width: 15%;
}

@media screen and (max-width: 760px) {
  .data {
    display: flex;
    flex-direction: column;
  }
  .switch {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }
  img {
    width: 10%;
  }
  h1 {
    font-size: 24px;
    width: 50%;
  }
  .header > img {
    width: 20%;
  }
}
